@import url("./nav.css");
@import url("./card.css");
@import url("./footer.css");

.container{
    display: grid;
    grid-template-columns: 100%;
    width: auto;
    height: auto;
    background-color:#ad657b;
    border: 3px solid rgb(0, 0, 0);
}



.header{
    display:grid-template-columns;
    height: 400px;
    width: auto;
    align-items:center;
    justify-content: center;
    background-color:#ad657b;
    background-image:url("./image/123.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.header a{
    background-color:#ffff;
    font-size:24px;
    font-weight: bold;
    text-decoration: none;
}
